
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="../assets/tec.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-5 mb-5 ">Please login to your account</h4>
                  </div>
  
                  <form [formGroup]="loginForm">
                    
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example11">Username</label>
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Email or username"formControlName="username" type="text" required />
                      
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Password</label>
                      <input type="password" id="form2Example22" class="form-control" formControlName="password" type="password" required/>
                      
                    </div>
  
                    <div class="text-center pt-1 mb-1 pb-">
                      <button matRipple matRippleColor="#fafafa54;" class="btn border-0 fa-lg gradient-custom-2 mb-2 text-white" 
                      (click)="onLogin()" [disabled]="loginForm.invalid" type="submit">Login

                    </button>
                    
                    </div>
                    <div class="text-center pt-0 mb-3 pb-4">
                    <a class="text-muted" href="#!" class="forgotpassword" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot password?</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pb-4 mt-3">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button matRipple matRippleColor="#fafafa54;" class="btn btn-outline-danger"  [routerLink]="['/register']">Create new</button>
                     
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h2 class="mb-4">Welcome</h2>
                  <p class="large mb-0">The Server Library Program is a simple platform where students can borrow servers for their educational projects. 
                    It provides an easy way for students to access the server resources they need for learning and experimentation.</p>              
                    <br>This project is maintained by the SKP team. If any problems occur, students are encouraged to report the errors so they can be fixed.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>